{% extends 'profile/profile_detail.html' %}

{% block profile_header_tail %}
    <div class="column-full">
        <p class="caption"><strong>Census data:</strong> 2011</p>
    </div>
{% endblock %}

{% block profile_detail %}


<article id="demographics" class="clearfix">
    <header class="section-contents">
        <h1>Demographics</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#demographics">Demographics <i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
            </div>
            <div class="column-three-quarters" id="chart-pie-demographics-sex_ratio" data-stat-type="percentage" data-chart-title="Sex"></div>
        </section>

    </div>
</article>

<article id="education" class="clearfix">
    <header class="section-contents">
        <h1>Education</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#education">Education <i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=education.aged_five_and_over stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#education-level-reached" id="education-level-reached">Education Level Passed <i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=education.primary_level_reached stat_type='percentage' %}
            </div>
            <div class="column-two-thirds" id="chart-histogram-education-education_level_passed_distribution" data-stat-type="scaled-percentage" data-chart-title="Highest education level reached" data-qualifier="Universe: {{ education.education_level_passed_distribution.metadata.universe }}"></div>
        </section>
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#education-level-reached-by-sex" id="education-level-reached-by-sex">Education Level Passed by Sex <i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=education.primary_level_reached_by_sex stat_type='percentage' %}
            </div>
            <div class="column-two-thirds" id="chart-grouped_column-education-education_level_by_sex_distribution" data-stat-type="scaled-percentage" data-chart-title="Highest education level reached" data-qualifier="Universe: {{ education.education_level_by_sex_distribution.metadata.universe }}"></div>
        </section>
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#literacy-by-sex" id="literacy-by-sex">Literacy <i class="fa fa-link"></i></a></h2>
            <div class="column-third" id="chart-pie-education-literacy_distribution" data-stat-type="percentage"></div>
            <div class="column-two-thirds" id="chart-grouped_column-education-literacy_by_sex_distribution" data-stat-type="scaled-percentage" data-chart-title="Literacy Rate" data-qualifier="Universe: {{ education.literacy_by_sex_distribution.metadata.universe }}"></div>
        </section>

    </div>
</article>

<article id="households" class="clearfix">
    <header class="section-contents">
        <h1>Households</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#households">Households <i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=households.total_households stat_type='number' %}
            </div>
        </section>
        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#households-cooking-fuel" id="households-cooking-fuel">Main type of cooking fuel <i class="fa fa-link"></i></a></h2>
            <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=households.cooking_wood stat_type='percentage' %}
            </div>
            <div class="column-two-thirds" id="chart-histogram-households-cooking_fuel_distribution" data-stat-type="scaled-percentage" data-chart-title="Households by main type of cooking fuel"></div>
        </section>

    </div>
</article>
{% endblock %}
