{% extends 'profile/profile_detail.html' %}{% load humanize lookup staticfiles %}
{% load nepal_format %}


 {% block profile_header_population %}
    <span class="value">{{ demographics.total_population.values.this|nepal_format }}</span>
    <span class="name">Population</span>
 {% endblock %}

 {% block profile_header_tail %}
    <div class="column-full">
        <p class="caption"><strong>Census data:</strong> 2011</p>
    </div>
{% endblock %}

{% block profile_detail %}
    {% include 'profile/sections/demographics.html' %}
    {% include 'profile/sections/elections.html' %}
    {% include 'profile/sections/education.html' %}
    {% include 'profile/sections/health.html' %}
    {% include 'profile/sections/households.html' %}
    {% include 'profile/sections/business.html' %}
    {% include 'profile/sections/agriculture.html' %}
    {% include 'profile/sections/forests.html' %}
    {% include 'profile/sections/disasters.html' %}
    {% include 'profile/sections/development.html' %}
{% endblock profile_detail %}
