{% extends '_base.html' %}{% load staticfiles %}

{% block head_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock head_css %}

{% block favicon %}
<link rel="shortcut icon" href="{{ STATIC_URL }}img/icons/favicon.ico" />
{% endblock favicon %}

{% block head_twitter_tags %}
{% if WAZIMAP.twittercard %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@codefornepal" />
<meta name="twitter:creator" content="@codefornepal" />
{% endif %}
{% endblock %}

{% block header %}
<header id="page-header">
    <div id="page-header-title" class="wrapper clearfix">
        {% if not hide_nav_tools %}
        <i id="menu-toggle" class="fa fa-bars"></i>
        {% endif %}
        <a class="title" href="{% url 'homepage' %}">
            {% block header_logo %}
            {% endblock %}
            {{ WAZIMAP.name }}
        </a>
        {% if not hide_nav_tools %}
            {% block nav_tools %}
            <div id="menu" class="tool-set clearfix">
                <div class="tool-group">
                    <input name="geography_select" id="geography-select" type="text" placeholder="Start typing a place name or address..." autocomplete="off">
                </div>
                {% if not hide_nav_compare %}
                {% comment %}
                <span class="separator">or</span>
                <div class="tool-group">
                    <a class="button" href="{% url 'table_search' %}">
                        <i class="fa fa-chevron-circle-right"></i>
                        Search for data
                    </a>
                </div>
                {% endcomment %}
                {% endif %}
            </div>
            {% endblock %}
        {% endif %}
        <div class="header-buttons">

            {% if WAZIMAP.facebook %}
            <a href="https://facebook.com/{{ WAZIMAP.facebook }}" title="{{ WAZIMAP.facebook }} on Facebook" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
            {% endif %}

            {% if WAZIMAP.twitter %}
            <a href="https://twitter.com/{{ WAZIMAP.twitter }}" title="{{ WAZIMAP.twitter }} on Twitter" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
            {% endif %}
            
        {% block header_branding %}
        {% endblock %}
        </div>
    </div>
</header>
{% block header_content %}{% endblock header_content %}
{% endblock %}

{% block footer_content %}
<div class="column-quarter">
    <ul class="ul-icon-list">
        <li>
            <i class="fa fa-info"></i> <a href="/about">About {{ WAZIMAP.name }}</a>
        </li>
        {% if WAZIMAP.twitter %}
        <li>
            <i class="fa fa-twitter"></i> <a href="http://twitter.com/{{ WAZIMAP.twitter }}" target="_blank">{{ WAZIMAP.twitter }}</a>
        </li>
        {% endif %}
    </ul>

</div>
<div class="column-quarter">
    <ul class="ul-icon-list">
        <li>
            <i class="fa fa-th-list"></i> <a href="http://www.codefornepal.org" target="_blank">Code For Nepal</a>
        </li>
        <li>
            <i class="fa fa-envelope"></i> <a href="mailto:{{ WAZIMAP.email }}">Email us</a>
        </li>
    </ul>
</div>
<div class="column-quarter">
    <ul class="ul-icon-list">
        <li>
            <i class="fa fa-github"></i> <a href="{{ WAZIMAP.github }}" target="_blank">NepalMap on Github</a>
        </li>
        <li>
            <i class="fa fa-github"></i> Built on <a href="http://censusreporter.org" target="_blank">CensusReporter.org</a>
        </li>
    </ul>
</div>
<div class="column-quarter">
    <ul class="ul-icon-list">
        {% block footer_branding %}
        <li>
            <a href="http://www.codefornepal.org/" target="_blank"><img src="{% static 'img/codefornepal-logo-small.png' %}"></a>
        </li>
        {% endblock %}
    </ul>
</div>
{% endblock footer_content %}