{% extends 'about.html' %}{% load partition staticfiles %}

{% block content %}
<article id="about">
    <header>
        <h1 class="article-header">About NepalMap?</h1>
    </header>
    <section>
 <p>NepalMap makes data on Nepal more accessible and understandable to everyone.</p>
<p>NepalMap is of great use to journalists, students, academics and others who are interested in using data to learn about each districts, and soon every Village Development Committee.</p>
<p>This tool is a friendly and reliable resource for journalists who want to use data to tell stories or discover stories that&rsquo;s of public interest using data.</p>
<p>Nepal Map uses data from <a href="http://www.cbs.gov.np/" target="_blank">Central Bureau of Statistics</a>, to create user-friendly data visualization on key demographic issues.</p>
<p>You can </span><strong>embed, access or download</strong> the data too. You can also compare any two areas side-by-side. </span></p>
<p>NepalMap is a project of <a href="http://codefornepal.org/en/"><strong>Code for Nepal</strong></a>, a non-profit that works to increase digital literacy and the use of open data in Nepal. We are an all-volunteer organization as of now. Please make a </span><a href="https://www.paypal.me/CodeforNepal" target="_blank"><strong>tax deductible donation</strong></a> to help us maintain the server space for NepalMap, and empower Nepal digitally!</p>
<p>Code for Nepal's co-founder, Ravi is grateful to all the volunteers who contributed to Nepal Map! Code for Nepal is especially grateful to <a href="https://github.com/orgs/Code4Nepal/people/cliftonmcintosh" target="_blank">Clifton McIntosh</span></a>, for accepting <a href="http://codefornepal.org/en/staff/ravinepal/" target="_blank">Ravi</a>&rsquo;s request to serve as the lead developer for this project. And to <a href="http://codefornepal.org/en/staff/prashish-rajbhandari/" target="_blank">Prashish Rajbhandari</a>, Code for Nepal&rsquo;s technology officer, and </span><a href="http://codefornepal.org/en/staff/amit-chaudhary/" target="_blank">Amit Chaudhary</a>, Code for Nepal&rsquo;s assistant developer.</p>
</p>
<h2 class="column-full subhead">Shoulders of Giants</h2>
<p>Yes! We are literally built on shoulder of giants! NepalMap is based on <a href="https://kenya.wazimap.org/" target="_blank">Wazimap Kenya</a> which is based on <a href="http://censusreporter.org/" target="_blank">Census Reporter</a>. All of these tools are completely open source. You can build <a href="https://wazimap.readthedocs.org/en/latest/index.html" target="_blank">one</a> for your country.</p>
    </section>
</article>
{% endblock %}
