{% extends 'homepage.html' %}{% load humanize partition staticfiles %}

{% block head_title %}{{ WAZIMAP.name }}: {{WAZIMAP.tagline}}{% endblock %}
{% block head_meta_description %}{{ WAZIMAP.name }} provides useful facts about places in {{ root_geo.name }}. Compare places using tables and maps, download data, and embed charts on your site!{% endblock %}
{% block body_id %}homepage{% endblock %}

{% block homepage_detail %}
<div class="content-container clearfix">
    <article id="explore" class="clearfix wrapper">
        {% include "data/_blocks/_data_query_builder.html" %}
    </article>
</div>

<div class="content-container clearfix tan-stripe">
    <article class="wrapper">
        <section class="column-full clearfix">
            <h1 class="article-header">Explore and understand Nepal using data.</h1>
            <p>Find out more about Nepal using the data. Whether you live in Morang or Mahottari, find out how many people in your district has passed School Leaving Certificate, or how many people still uses wood to cook food.</p>
            <div id="slippy-map"></div>
        </section>
        <section>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-book"></i>
                    Find facts
                </h3>
                <p>Populations and financial figures are broken down by category: Elections, Demographics, Service Delivery, Economics and Education.</p>
            </div>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-bar-chart-o"></i>
                    Visualize
                </h3>
                <p>Our library of charts gives you insight into data from the places you research. Look for them on profile pages. You can even <a href="{% url 'example_detail' 'embed-charts' %}">embed the charts</a> on your own site.</p>
            </div>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-refresh"></i>
                    Get context
                </h3>
                <p>Pre-computed statistics are presented alongside each data point, so you can see how each place fits into a larger context.</p>
            </div>
        </section>
    </article>
</div>

<div class="content-container clearfix">
    <article id="examples" class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">Using {{ WAZIMAP.name }}</h1>
        </header>
        <section class="card-container clearfix">
            <h2 class="column-full subhead">Finding places</h2>
            <span class="column-half card">
                <img src="{% static 'img/examples/text_search.png' %}">
                <span class="caption">Type in the name or address of a place. Then select the location you are interested in from the dropdown.</span>
            </span>
            <span class="column-half card">
                <img src="{% static 'img/examples/map_search.png' %}">
                <span class="caption">Alternatively, click on the map area you want to go to. The <span class="zoom-in">+</span> and <span class="zoom-out">-</span> buttons zoom in an out.</span>
            </span>
            <h2 class="column-full subhead">Exploring data</h2>
            <span class="column-half card">
                <img src="{% static 'img/examples/section_overview.png' %}">
                <span class="caption">Statistics are broken down into categories, e.g. Service Delivery. Find a key figure for a sub-category on the left.</span>
            </span>
            <span class="column-half card">
                <img src="{% static 'img/examples/hover_over_graph.png' %}">
                <span class="caption">Hover over graphs to see comparisons with the province and country averages.</span>
            </span>
        </section>
    </article>
</div>

<div class="content-container clearfix tan-stripe">
    <article id="examples" class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">About {{ WAZIMAP.name }}</h1>

         <p class="explainer">
            <p>NepalMap makes data on Nepal more accessible and understandable to everyone.</p>
            <p>NepalMap is of great use to journalists, students, academics and others who are interested in using data to learn about each districts, and soon every Village Development Committee.</p>
            <p>This tool is a friendly and reliable resource for journalists who want to use data to tell stories or discover stories that&rsquo;s of public interest using data.</p>
            <p>Nepal Map uses data from <a href="http://www.cbs.gov.np/" target="_blank">Central Bureau of Statistics</a>, to create user-friendly data visualization on key demographic issues.</p>
            <p>You can </span><strong>embed, access or download</strong> the data too. You can also compare any two areas side-by-side. </span></p>
            <p>NepalMap is a project of <a href="http://codefornepal.org/en/"><strong>Code for Nepal</strong></a>, a non-profit that works to increase digital literacy and the use of open data in Nepal. We are an all-volunteer organization as of now. Please make a </span><a href="https://www.paypal.me/CodeforNepal" target="_blank"><strong>tax deductible donation</strong></a> to help us maintain the server space for NepalMap, and empower Nepal digitally!</p>
            <p>Code for Nepal&rsquo;s co-founder, Ravi is grateful to all the volunteers who contributed to Nepal Map! Code for Nepal is especially grateful to <a href="https://github.com/cliftonmcintosh" target="_blank">Clifton McIntosh</span></a>, for accepting <a href="http://codefornepal.org/en/staff/ravinepal/" target="_blank">Ravi</a>&rsquo;s request to serve as the lead developer for this project. And to <a href="http://codefornepal.org/en/staff/prashish-rajbhandari/" target="_blank">Prashish Rajbhandari</a>, Code for Nepal&rsquo;s technology officer, and </span><a href="http://codefornepal.org/en/staff/amit-chaudhary/" target="_blank">Amit Chaudhary</a>, Code for Nepal&rsquo;s assistant developer.</p>
        </p>
            <h2 class="column-full subhead">Shoulders of Giants</h2>
            <p>Yes! We are literally built on shoulder of giants! NepalMap is based on <a href="https://kenya.wazimap.org/" target="_blank">Wazimap Kenya</a> which is based on <a href="http://censusreporter.org/" target="_blank">Census Reporter</a>. All of these tools are completely open source. You can build <a href="https://wazimap.readthedocs.org/en/latest/index.html" target="_blank">one</a> for your country.</p>

        </header>
    </article>
</div>
{% endblock %}