<article id="agriculture" class="clearfix">
    {% if agriculture.area_has_data == True %}
        <header class="section-contents">
            <h1>Agriculture</h1>
        </header>
        <div class="section-container">
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#agriculture-total-livestock"
                       id="agriculture-total-livestock">Livestock
                    <i class="fa fa-link"></i></a></h2>
                <div class="column-third">
                    {% include 'profile/_blocks/_stat_list.html' with stat=agriculture.total_livestock stat_type='number' %}
                </div>
                <div class="column-two-thirds"
                     id="chart-histogram-agriculture-livestock_distribution"
                     data-stat-type="number"
                     data-chart-title="Livestock"></div>
                <small>Source: <br>
                    <a target="_blank"
                       href="http://moad.gov.np/public/uploads/1142453195-STATISTIC%20AGRICULTURE%20BOOK_2016.pdf">Ministry
                        of Agricultural Development Statistical Information on
                        Nepalese Agriculture 2072/73</a> (PDF)
                    <br>
                </small>
            </section>
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#agriculture-total-meat"
                       id="agriculture-total-meat">Meat Production
                    <i class="fa fa-link"></i></a></h2>
                <div class="column-third">
                    {% include 'profile/_blocks/_stat_list.html' with stat=agriculture.total_meat stat_type='number' %}
                </div>
                <div class="column-two-thirds"
                     id="chart-histogram-agriculture-meat_distribution"
                     data-stat-type="number"
                     data-chart-title="Metric tons of meat produced"></div>
                <small>Source: <br>
                    <a target="_blank"
                       href="http://moad.gov.np/public/uploads/1142453195-STATISTIC%20AGRICULTURE%20BOOK_2016.pdf">Ministry
                        of Agricultural Development Statistical Information on
                        Nepalese Agriculture 2072/73</a> (PDF)
                    <br>
                </small>
            </section>
        </div>
    {% endif %}
</article>
