<article id="demographics" class="clearfix">
    <header class="section-contents">
        <h1>Demographics</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#demographics">Demographics <i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
            </div>
            <div class="column-three-quarters" id="chart-pie-demographics-sex_ratio" data-stat-type="percentage" data-chart-title="Sex"></div>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#demographics-life-and-icome" id="demographics-life-and-income">Life Expectancy and Income <i class="fa fa-link"></i></a></h2>
            <div class="column-half">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.life_expectancy stat_type='number' %}
            </div>
            <div class="column-half">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.per_capita_income stat_type='dollar' %}
            </div>
                 <small>Source: <a href="http://hdr.undp.org/sites/default/files/nepal_nhdr_2014-final.pdf">Nepal Human Development Report 2014</a></small>
        </section>

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#demographics-disability" id="demographics-disability">Disabled <i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.percent_disabled stat_type='percentage' %}
            </div>
            <div class="column-three-quarters" id="chart-pie-demographics-disability_ratio" data-stat-type="percentage" data-chart-title="Disability"></div>
        </section>

    </div>
</article>