<article id="demographics" class="clearfix">
    {% if demographics.area_has_data == False %}
        <h2>No data available for this area</h2>
    {% else %}
        <header class="section-contents">
            <h1>Demographics</h1>
        </header>
        <div class="section-container">
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#demographics">Population <i
                        class="fa fa-link"></i></a></h2>
                {% if demographics.is_vdc == True %}
                    <div class="column-quarter">
                        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
                    </div>
                    <div class="column-three-quarters"
                         id="chart-pie-demographics-sex_ratio"
                         data-stat-type="percentage"
                         data-chart-title="Sex"></div>
                {% elif demographics.is_vdc == False %}
                    <div class="column-quarter">
                        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
                    </div>
                    <div class="column-quarter"
                         id="chart-pie-demographics-sex_ratio"
                         data-stat-type="percentage"
                         data-chart-title="Sex"></div>
                    <div class="column-quarter">
                        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.pop_projection_2031 stat_type='number' %}
                    </div>
                    <div class="column-quarter"
                         id="chart-pie-demographics-pop_2031_dist"
                         data-stat-type="percentage"
                         data-chart-title="Projected by sex in 2031"></div>
                {% endif %}
            </section>

            {% if demographics.is_vdc == False %}
                <section class="clearfix stat-row">
                    <div class="column-full clearfix">
                        <h2 class="header-for-columns"><a class="permalink"
                                                          href="#age" id="age">Age
                            <i class="fa fa-link"></i></a></h2>
                        <div class="column-quarter">
                            {% include 'profile/_blocks/_stat_list.html' with stat=demographics.median_age stat_type='number' %}
                        </div>
                        <div class="column-quarter">
                            <div id="chart-pie-demographics-age_category_distribution"
                                 data-stat-type="percentage"
                                 data-chart-title="Population by age category"></div>
                        </div>
                        <div class="column-half">
                            <div id="chart-histogram-demographics-age_group_distribution"
                                 data-stat-type="scaled-percentage"
                                 data-chart-title="Population by 10-year age range"></div>
                        </div>
                    </div>
                    <small>Sources: <br>
                        <a target="_blank"
                           href="http://data.opennepal.net/content/population-single-year-age-and-sex-2011-12">OpenNepal
                            Population by single year of age and sex
                            (2011-12)</a>
                        <br>
                        <a target="_blank"
                           href="https://github.com/opennepal/datasources/blob/Population/Census/Volume05Part01.pdf">National
                            Population and Housing Census 2011 General and
                            Social Characteristics Tables (PDF)</a>
                    </small>
                </section>
                <section class="clearfix stat-row">
                    <h2><a class="permalink"
                           href="#demographics-life-and-income"
                           id="demographics-life-and-income">Life Expectancy
                        and
                        Income <i class="fa fa-link"></i></a></h2>
                    <div class="column-half">
                        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.life_expectancy stat_type='number' %}
                    </div>
                    <div class="column-half">
                        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.per_capita_income stat_type='dollar' %}
                    </div>
                    <small>Source: <a target="_blank"
                                      href="http://hdr.undp.org/sites/default/files/nepal_nhdr_2014-final.pdf">Nepal
                        Human Development Report 2014 (PDF)</a></small>
                </section>
                <section class="clearfix stat-row">
                    <h2 class="header-for-columns"><a class="permalink"
                                                      href="#language"
                                                      id="language">Language <i
                            class="fa fa-link"></i></a></h2>
                    <div class="column-quarter">
                        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.language_most_spoken stat_type='name' stat_name='Language most spoken at home' %}
                    </div>
                    <div class="column-three-quarters">
                        <div id="chart-histogram-demographics-language_distribution"
                             data-stat-type="scaled-percentage"
                             data-chart-title="Population by language most spoken at home"></div>
                    </div>
                    <small>Sources:
                        <br>
                        <a target="_blank"
                           href="http://data.opennepal.net/content/population-mother-tongue-sex-and-age-groups-2011-12">OpenNepal
                            Population by mother tongue, sex and age groups
                            (2011-12)</a>
                        <br>
                        <a target="_blank"
                           href="https://github.com/opennepal/datasources/blob/census_population/Census/Volume05Part02.pdf">National
                            Population and Housing Census 2011 Social Characteristics Tables (PDF)</a>
                    </small>
                </section>
                <section class="clearfix stat-row">
                    <h2 class="header-for-columns"><a class="permalink"
                                                      href="#ethnicity"
                                                      id="ethnicity">Caste and
                        Ethnic Groups <i
                                class="fa fa-link"></i></a></h2>
                    <div class="column-quarter">
                        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.most_populous_caste stat_type='name' stat_name='Most populous caste or ethnic group' %}
                    </div>
                    <div class="column-three-quarters">
                        <div id="chart-histogram-demographics-ethnic_distribution"
                             data-stat-type="scaled-percentage"
                             data-chart-title="Population by caste or ethnic group"></div>
                    </div>
                    <small>Sources:
                        <br>
                        <a target="_blank"
                           href="http://data.opennepal.net/content/population-casteethnic-groups-and-sex-2011-12">OpenNepal
                            Population by caste/ethnic groups and sex
                            (2011-12)</a>
                        <br>
                        <a target="_blank"
                           href="https://github.com/opennepal/datasources/blob/census_population/Census/Volume05Part02.pdf">National
                            Population and Housing Census 2011 Social Characteristics Tables (PDF)</a>
                    </small>
                </section>
            {% endif %}

            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#demographics-disability"
                       id="demographics-disability">Disabled <i
                        class="fa fa-link"></i></a></h2>
                <div class="column-quarter">
                    {% include 'profile/_blocks/_stat_list.html' with stat=demographics.percent_disabled stat_type='percentage' %}
                </div>
                <div class="column-three-quarters"
                     id="chart-pie-demographics-disability_ratio"
                     data-stat-type="percentage"
                     data-chart-title="Disability">
                </div>
            </section>

        </div>

        {% if demographics.is_vdc == False %}
            <header class="section-contents">
                <h1 id="humandevelopment">Human Development</h1>
            </header>
            <div class="section-container">

                <section class="clearfix stat-row">

                <div class="column-quarter">
                    <h2><a class="permalink" href="#poverty-rate" id="poverty-rate">Poverty Rate <i
                            class="fa fa-link"></i></a></h2>
                    {% include 'profile/_blocks/_stat_list.html' with stat=demographics.percent_impoverished stat_type='percentage' %}
                </div>
                    <div class="column-three-quarters"
                         id="chart-pie-demographics-poverty_dist"
                         data-stat-type="percentage"
                         data-chart-title="In poverty">
                    </div>
                    <small>Source:
                        <a target="_blank"
                           href="http://data.opennepal.net/content/poverty-rates-district-level-2001-2011">OpenNepal
                            Poverty Rates on District Level, 2001-2011</a>
                    </small>
                </section>
            </div>
        {% endif %}
    {% endif %}
</article>
