<article id="disasters" class="clearfix">
    {% if disasters.area_has_data == True %}
        <header class="section-contents">
            <h1>Disasters</h1>
        </header>
        <div class="section-container">
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#disasters-flood-damage"
                       id="floods-total-deaths">Total Flood Deaths
                    <i class="fa fa-link"></i></a></h2>
                <div class="column-full">
                    {% include 'profile/_blocks/_stat_list.html' with stat=disasters.flood_deaths stat_type='number' %}
                </div>
                <small>Sources: <br>
                    <a target="_blank"
                       href="https://docs.google.com/spreadsheets/d/1WGEsVT0eiWnE34uA9-z3a4cKStcYhCvo_3ANiVzZTYk/edit?ts=59c8020a#gid=617759520">Deaths from 2010--08-08_to 2017-08-30</a>
                    <br>
                    <a target="_blank"
                       href="http://codefornepal.org/en/2017/08/nepalflood/">Map of reported number of #NepalFlood deaths</a>
                    <br>
                </small>
            </section>
        </div>
    {% endif %}
</article>
