<article id="disasters" class="clearfix">
    {% if disasters.area_has_data == True %}
        <header class="section-contents">
            <h1>Disasters</h1>
        </header>
        <div class="section-container">
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#disasters-flood-damage"
                       id="floods-total-deaths">Total Flood Deaths
                    <i class="fa fa-link"></i></a></h2>
                <div class="column-quarter">
                    {% include 'profile/_blocks/_stat_list.html' with stat=disasters.total_flood_deaths stat_type='number' %}
                </div>
                <div class="column-three-quarters"
                     id="chart-bar-disasters-flood_deaths"
                     data-stat-type="number"
                     data-chart-title="Flooding Deaths"></div>
                <small>Source: <br>
                    <a target="_blank"
                       href="https://drive.google.com/drive/folders/1IpU27W8bWrrcpjkyK-2SnV7TXw">Department of Soil Conservation and Water Management: Forests and Watershed Profile of Local Level, 2017</a>
                </small>
            </section>
        </div>
    {% endif %}
</article>
