<article id="elections" class="clearfix">
    {% if elections.area_has_data == True %}
        <header class="section-contents">
            <h1>Elections</h1>
        </header>
        <div class="section-container">
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#elections-voters"
                       id="elections-voters">Voters
                    <i class="fa fa-link"></i></a></h2>
                <div class="column-third">
                    {% include 'profile/_blocks/_stat_list.html' with stat=elections.total_voters stat_type='number' %}
                </div>
                <div class="column-two-thirds"
                     id="chart-pie-elections-voter_distribution"
                     data-stat-type="percentage"
                     data-chart-title="Voters by sex"></div>
                <small>Source: <br>
                    <a target="_blank"
                       href="http://electionnepal.org/data-preview/45/">Election Nepal: Total number of male, female and third gender voters per districts</a>
                </small>
            </section>
        </div>
        <div class="section-container">
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#local-electoral-bodies"
                       id="local-electoral-bodies">Local Electoral Bodies
                    <i class="fa fa-link"></i></a></h2>
                <div class="column-third">
                    {% include 'profile/_blocks/_stat_list.html' with stat=elections.total_electoral_bodies stat_type='number' %}
                </div>
                <div class="column-two-thirds"
                     id="chart-pie-elections-local_electoral_bodies_distribution"
                     data-stat-type="percentage"
                     data-chart-title="Local electoral bodies"></div>
                <small>Source: <br>
                    <a target="_blank"
                       href="http://electionnepal.org/data-preview/45/">Election Nepal: Total number of Local Bodies per districts</a>
                </small>
            </section>
        </div>
        <div class="section-container">
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#polling-places-and-parties"
                       id="polling-places-and-parties">Polling Places and Registered Political Parties
                    <i class="fa fa-link"></i></a></h2>
                <div class="column-half">
                    {% include 'profile/_blocks/_stat_list.html' with stat=elections.polling_places stat_type='number' %}
                </div>
                    <div class="column-half">
                        {% include 'profile/_blocks/_stat_list.html' with stat=elections.political_parties stat_type='number' %}
                    </div>
                <small>Sources: <br>
                    <a target="_blank"
                       href="https://github.com/okfnepal/election-nepal-data/blob/master/Demographics/75%20district%20polling%20place:center.csv">Open Knowledge Nepal: polling places</a>
                    <br>
                    <a target="_blank"
                       href="https://github.com/okfnepal/election-nepal-data/blob/master/Demographics/Total%20number%20of%20registered%20political%20parties%20per%20districts.csv">Open Knowledge Nepal: total number of registered political parties per districts</a>
                    </small>
            </section>
        </div>
        <div class="section-container">
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#elections-mayoral-by-party"
                       id="elections-mayoral-by-party">Mayoral and Deputy Mayoral Seats by Party <i
                        class="fa fa-link"></i></a></h2>
                <div class="column-half"
                     id="chart-histogram-elections-mayoral_party_distribution"
                     data-stat-type="scaled-percentage"
                     data-chart-title="Mayoral seats held by party"></div>
                <div class="column-half"
                     id="chart-histogram-elections-deputy_mayoral_party_distribution"
                     data-stat-type="scaled-percentage"
                     data-chart-title="Deputy mayoral seats held by party"></div>
            </section>
        </div>
    {% endif %}
</article>
