<article id="forests" class="clearfix">
    {% if forests.area_has_data == True %}
        <header class="section-contents">
            <h1>Forests and Land Use</h1>
        </header>
        <div class="section-container">
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#forests-total-land"
                       id="forests-total-land">Total Land
                    <i class="fa fa-link"></i></a></h2>
                <div class="column-third">
                    {% include 'profile/_blocks/_stat_list.html' with stat=forests.total_square_kilometres stat_type='number' %}
                </div>
                <div class="column-two-thirds"
                     id="chart-pie-forests-forest_distribution"
                     data-stat-type="percentage"
                     data-chart-title="Forested and unforested land"></div>
                <small>Sources: <br>
                    <a target="_blank"
                       href="http://www.dfrs.gov.np/">Department of Forest Research and Survey, Ministry of Forests and Soil Conservation</a>
                    <br>
                    <a target="_blank"
                       href="https://drive.google.com/file/d/0ByP0RP6wbidUdjlxOVE5M0k1Szg/view">Department of Soil Conservation and Water Management: Forests and Watershed Profile of Local Level, 2017 (PDF)</a>
                </small>
            </section>
        </div>
    {% endif %}
</article>
