<article id="health" class="clearfix">
    {% if elections.area_has_data == True %}
        <header class="section-contents">
            <h1>Health</h1>
        </header>
        <div class="section-container">
            <section class="clearfix stat-row">
                <div class="column-third">
                    <h2><a class="permalink" href="#child-health"
                           id="child-health">Child Health <i
                            class="fa fa-link"></i></a></h2>
                    {% include 'profile/_blocks/_stat_list.html' with stat=health.children_malnourished stat_type='percentage' %}
                </div>
                <div class="column-third">
                    <h2><a class="permalink" href="#safe-water"
                           id="safe-water">Safe
                        Drinking Water <i
                                class="fa fa-link"></i></a></h2>
                    {% include 'profile/_blocks/_stat_list.html' with stat=health.percent_with_safe_water stat_type='percentage' %}
                </div>
                <div class="column-third"
                     id="chart-pie-health-safe_water_dist"
                     data-stat-type="percentage"
                     data-chart-title="Access to Safe Drinking Water">
                </div>
                <small>Sources:
                    <br>
                    <a target="_blank"
                       href="http://data.opennepal.net/content/human-poverty-index-value-districts-2011">OpenNepal
                        Human Poverty Index Value by Districts (2011)</a>
                    <br>
                    <a target="_blank"
                       href="https://github.com/opennepal/datasources/blob/master/Poverty/NHDR_Report_2014.pdf">
                        Nepal Human Development Report 2014</a>
                </small>
            </section>
            <section class="clearfix stat-row">
                <div class="column-third">
                    <h2><a class="permalink" href="#childbirth-at-facility"
                           id="childbirth-at-facility">Childbirth at a Health Facility <i
                            class="fa fa-link"></i></a></h2>
                    {% include 'profile/_blocks/_stat_list.html' with stat=health.births_at_health_facilities stat_type='percentage' %}
                </div>
                <div class="column-third">
                    <h2><a class="permalink" href="#childbirth-with-sba"
                           id="childbirth-with-sba">Childbirth with a Skilled Attendant <i
                            class="fa fa-link"></i></a></h2>
                    {% include 'profile/_blocks/_stat_list.html' with stat=health.births_with_sba stat_type='percentage' %}
                </div>
                <div class="column-third">
                    <h2><a class="permalink" href="#childbirth-with-non-sba"
                           id="childbirth-with-non-sba">Childbirth with a non-SBA Health Worker <i
                            class="fa fa-link"></i></a></h2>
                    {% include 'profile/_blocks/_stat_list.html' with stat=health.births_with_health_worker stat_type='percentage' %}
                </div>
                <small>Source: <br>
                    <a target="_blank"
                       href="http://dohs.gov.np/annual-report/annual-report-fy-207172/">Department
                        of Health Services Annual Report, Fiscal Year
                        2071-2072 (Page 375)</a>
                </small>
            </section>
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#childbirth-delivery-assistance"
                       id="childbirth-delivery-assistance">Assisted Childbirth
                    <i class="fa fa-link"></i></a></h2>
                <div class="column-quarter">
                    {% include 'profile/_blocks/_stat_list.html' with stat=health.total_assisted_childbirths stat_type='number' %}
                </div>
                <div class="column-half"
                     id="chart-pie-health-childbirth_assistance_distribution"
                     data-stat-type="percentage"
                     data-chart-title="Assisted Childbirth"></div>
                <div class="column-quarter"
                     id="chart-histogram-health-maternal_death_in_childbirth_distribution"
                     data-stat-type="scaled-percentage"
                     data-chart-title="Reported Maternal Deaths in Childbirth"></div>
                <small>Source: <br>
                    <a target="_blank"
                       href="http://dohs.gov.np/annual-report/annual-report-fy-207172/">Department
                        of Health Services Annual Report, Fiscal Year
                        2071-2072 (Pages 370, 373)</a>
                </small>
            </section>
            <section class="clearfix stat-row">
                <h2><a class="permalink" href="#health_facilities"
                       id="health_facilities">Health Facilities <i
                        class="fa fa-link"></i></a></h2>
                <div class="column-full"
                     id="chart-column-health-health_facilities_data"
                     data-stat-type="number"></div> 
                <small>Source: <br>
                    <a target="_blank"
                       href="https://data.humdata.org/dataset/nepal-health-facilities-cod">Health Infrastructure - Survey Department of Nepal
                        2015</a>
                </small>

            </section>      
        </div>
    {% endif %}
</article>
